<h1>Aces Up</h1>

<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<body>

<table id = "table">
    <tr class="title">
        <td>Column0</td>
        <td >Column1</td>
        <td >Column2</td>
        <td >Column3</td>
    </tr>

    <tr><td class="columnOfCards" id="c0">
        <div><table>
            <tr><td class="cardLocation l0"></td></tr>
            <tr><td class="cardLocation l1"></td></tr>
            <tr><td class="cardLocation l2"></td></tr>
            <tr><td class="cardLocation l3"></td></tr>
            <tr><td class="cardLocation l4"></td></tr>
            <tr><td class="cardLocation l5"></td></tr>
            <tr><td class="cardLocation l6"></td></tr>
            <tr><td class="cardLocation l7"></td></tr>
            <tr><td class="cardLocation l8"></td></tr>
            <tr><td class="cardLocation l9"></td></tr>
            <tr><td class="cardLocation l10"></td></tr>
            <tr><td class="cardLocation l11"></td></tr>
            <tr><td class="cardLocation l12"></td></tr>
            <tr><td class="cardLocation l13"></td></tr>
        </table></div>
    </td>
        <td class="columnOfCards" id="c1">
            <div><table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
            </table></div>
        </td>
        <td class="columnOfCards" id="c2">
            <div><table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
            </table></div>
        </td>
        <td class="columnOfCards" id="c3">
            <div><table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
            </table></div>
        </td>
    </tr>
</table>
<div id = "panel">
<button id="dealButton">Deal</button>
<BR>Remove from: <button id="Remove1">Column1</button><button id="Remove2">Column2</button><button id="Remove3">Column3</button><button id="Remove4">Column4</button>

<BR>Move from column
    <select id="from_col"  />
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>

    </select>
to column
    <select id="to_col"  />
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>

<button id="moveButton">Move</button>
</div>
<script>

var game;

function display(game) {
console.log(game);

$( '.columnOfCards .cardLocation' ).html("");

    $.each(game.cols[0], function( key, val ) {
        $( '#c0 .l'+key ).html(val.value + val.suit);
        if(val.suit == "Hearts")
        {
        $('#c0 .l'+key).css("background-color","red");
        }
        else if(val.suit == "Diamonds")
        {
        $('#c0 .l'+key).css("background-color","yellow");
        }
        else if(val.suit == "Clubs")
        {
        $('#c0 .l'+key).css("background-color","green");
        }
        else if(val.suit == "Spades")
        {
        $('#c0 .l'+key).css("background-color","orange");
        }
        else if(val.suit == "Coins")
        {
        $('#c0 .l'+key).css("background-color","grey");
        }
        else if(val.suit == "Swords")
        {
        $('#c0 .l'+key).css("background-color","gold");
        }
        else if(val.suit == "Cups")
        {
        $('#c0 .l'+key).css("background-color","blue");
        }

    });

 $.each(game.cols[1], function( key, val ) {
        $( '#c1 .l'+key ).html(val.value + val.suit);
        if(val.suit == "Hearts")
        {
        $('#c1 .l'+key).css("background-color","red");
        }
        else if(val.suit == "Diamonds")
        {
        $('#c1 .l'+key).css("background-color","yellow");
        }
        else if(val.suit == "Clubs")
        {
        $('#c1 .l'+key).css("background-color","green");
        }
        else if(val.suit == "Spades")
        {
        $('#c1 .l'+key).css("background-color","orange");
        }
        else if(val.suit == "Coins")
        {
        $('#c1 .l'+key).css("background-color","grey");
        }
        else if(val.suit== "Cups")
        {
        $('#c1 .l'+key).css("background-color","blue");
        }
        else if(val.suit == "Swords")
        {
        $('#c1 .l'+key).css("background-color","gold");
        }

    });

 $.each(game.cols[2], function( key, val ) {
        $( '#c2 .l'+key ).html(val.value + val.suit);
        if(val.suit == "Hearts")
        {
        $('#c2 .l'+key).css("background-color","red");
        }
        else if(val.suit == "Diamonds")
        {
        $('#c2 .l'+key).css("background-color","yellow");
        }
        else if(val.suit == "Clubs")
        {
        $('#c2 .l'+key).css("background-color","green");
        }
        else if(val.suit == "Spades")
        {
        $('#c2 .l'+key).css("background-color","orange");
        }
        else if(val.suit == "Coins")
        {
        $('#c2 .l'+key).css("background-color","grey");
        }
        else if(val.suit == "Swords")
        {
        $('#c2 .l'+key).css("background-color","gold");
        }
        else if(val.suit == "Cups")
        {
        $('#c2 .l'+key).css("background-color","blue");
        }

    });

 $.each(game.cols[3], function( key, val ) {
        $( '#c3 .l'+key ).html(val.value + val.suit);
        if(val.suit == "Hearts")
        {
        $('#c3 .l'+key).css("background-color","red");
        }
        else if(val.suit == "Diamonds")
        {
        $('#c3 .l'+key).css("background-color","yellow");
        }
        else if(val.suit == "Clubs")
        {
        $('#c3 .l'+key).css("background-color","green");
        }
        else if(val.suit == "Spades")
        {
        $('#c3 .l'+key).css("background-color","orange");
        }
        else if(val.suit == "Coins")
        {
        $('#c3 .l'+key).css("background-color","gery");
        }
        else if(val.suit == "Cups")
        {
        $('#c3 .l'+key).css("background-color","blue");
        }
        else if(val.suit == "Swords")
        {
        $('#c3 .l'+key).css("background-color","gold");
        }

    });

    if(game.error == true){
        var div = document.getElementById('Error-div');
        if(div === null){
            //console.log("Error");
            var div = document.createElement('div');
            div.id = 'Error-div';
            var text = document.createElement('h4');
            text.innerHTML = 'Error: You cannot remove that card';
            div.appendChild(text);
            document.body.appendChild(div);
        }
    }
    else{
        var div = document.getElementById('Error-div');
        if(div === null){}
        else{
            div.remove();
        }
    }
}

//Make 2 buttons on the page, add 2 javascript functions that are called when buttons is clicked
//The first will send the code below to /gameE
//The second will send the code below to /gameS

$.getJSON("http://localhost:8080/gameE", function( data ) {
display(data);
game = data;
});


$("#dealButton").click(function(){
$.ajax({
  type: "POST",
  url: "/dealGame",
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});


function removeCard(colNumber){
    $.ajax({
        type: "POST",
        url: "/removeCard/"+colNumber,
        data: JSON.stringify(game),
        success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
        contentType:"application/json; charset=utf-8",
        dataType:"json",
    });
}


$("#Remove1").click(function(){
    removeCard(0);
    $.each(game.cols[0], function( key, val ){
         $('#c0 .l'+key).css("background-color","#F0F0F0");
     });
});
$("#Remove2").click(function(){
    removeCard(1);
    $.each(game.cols[1], function( key, val ){
         $('#c1 .l'+key).css("background-color","#F0F0F0");
     });
});
$("#Remove3").click(function(){
    removeCard(2);
    $.each(game.cols[2], function( key, val ){
         $('#c2 .l'+key).css("background-color","#F0F0F0");
     });
});
$("#Remove4").click(function(){
    removeCard(3);
    $.each(game.cols[3], function( key, val ){
         $('#c3 .l'+key).css("background-color","#F0F0F0");
     });
});


$("#moveButton").click(function(){
var colFrom = $("#from_col").val();
var colTo = $("#to_col").val();
$.ajax({
  type: "POST",
  url: "/moveCard/"+colFrom+"/"+colTo,
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
$.each(game.cols[colFrom], function( key, val ){
         $('#c' + colFrom + ' .l'+key).css("background-color","#F0F0F0");
     });
});


</script>



</body>
</html>